html {
    scroll-behavior: smooth;
}


body{
    border: 0px;
    margin: 0px;
    background-image: url("../img/1 (1).png");
    background-position-y:55px;
    background-position-x: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 45%;
    height: auto;
}

@media  screen and (max-width:500px){
    body{
        background-size: 100%;
        background-position-x: 100px;
    }
}
@media  screen and (max-width:250px){
    body{
        background-size: 100%;
        background-position-x: 65px;
    }
}
a{
    text-decoration: none !important;
}

/******************BARRA DE NAVEGACION************************/
.navegacion{
    z-index: 100000 !important;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(45, 67, 190);
}
/******************FIN DE LABARRA DE NAVEGACION************************/



/***********************BANNER***************************/
.banner{
    height: 500px;
    width: 100%;
    background-color:rgba(4, 25, 83, 0.9);
    /*background-color:rgba(5, 30, 99, 0.94);*/
    display: flex;
    align-items: center;
    justify-content: center;   
}

.componentesBannerResp{
    width:50% ;
    display: flex;
    flex-direction: column;
}
.componentesBannerResp h1{
    color: #fff;
}
.textoMumbe{
    width: 100%;
    text-align: center;
}

.linkmumbe{
    font-size: 80px;
    color: #fff;
}
.linkmumbe:hover{
    color: #fff !important;
}
@media  screen and (max-width:500px){
    .linkmumbe{
        font-size: 40px;
        color: #fff;
    }
    .componentesBannerResp h1{
        font-size: 20px;
    }   
    .componentesBannerResp{
        width:80% ;
    }
}
.botonContacto{
    font-size:20px ;
}

/*********************** FIN DE BANNER***************************/
/***REDES SOCIALES**********/
.iconos-red-socila-1{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.iconos-red-socila-1-1{
    margin-top: 20px;
}
.iconos-red-socila-1-1 a{
    color: rgb(61, 59, 59) ;
    font-size: 28px;
    margin: 6px;
}
.margen-social-footer{
    margin-top: -20px;
}
.iconos-red-socila-1-1 a:hover{
    color: black;
    
}
.iconos-red-socila-1-1 a i{
    
}
/***FIN DE REDES SOCIALES**********/

.border-abajo-banner{

    position: sticky !important;
    position: -webkit-sticky !important;
    top: 55px !important;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5px;
    background-color: black;
    z-index: 100 !important;
    
}
.borde-1{
    width: 25%;
    background-color: aqua;
    height: 5px;
}
.borde-2{
    width: 25%;
    background-color: rgb(255, 187, 0);
    height: 5px;
}
.borde-3{
    width: 25%;
    background-color: rgb(15, 241, 27);
    height: 5px;
}
.borde-4{
    width: 25%;
    background-color: powderblue;
    height: 5px;
}

.borde-5{
    width: 25%;
    background-color: rgb(195, 0, 255);
    height: 5px;
}
.borde-6{
    width: 25%;
    background-color: red;
    height: 5px;
}
.borde-7{
    width: 25%;
    background-color: rgb(255, 251, 0);
    height: 5px;
}
.borde-8{
    width: 25%;
    background-color: darkgray;
    height: 5px;
}





.cuerpo{
    height: auto;
    background-color: rgb(196, 196, 196);
    height: auto;
}
.bloque-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 196, 196);
    
}
.imagen-bloque-1{
    display: flex;
    width:100% ;
    justify-content: center;
    margin-top: 50px;
}
.imagen-bloque-1-1{
    width: 700px;
}
.imagen-bloque-1 img{
    width:100%;
    height: 100%;
}
.texto-bloque-1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width:100% ;

}
.texto-bloque-1-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:400px;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 15px;
    padding: 13px;
    margin-bottom: 10px;
}
@media screen and (max-width:410px) {
    .texto-bloque-1-1{
        margin-bottom: 0px;
    }
}
.bloque-1-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.texto-bloque-1 h1{
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 38px;
}

/******BLOQUE TRANSPARENTE*/
.bloque-transparente{
    width: 100%;
    height: 200px;
    /*background-color:rgba(18, 57, 165, 0.856);*/
    background-color:rgba(4, 25, 83, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloque-transparente-partner{
    width: 100%;
    height: auto;
    /*background-color:rgba(18, 57, 165, 0.856);*/
    background-color:rgba(4, 25, 83, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.margen{
    margin-top: 20px;
}
.contenedor-partner-1{
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.contenedor-partner-img{
    width: 160px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.contenedor-partner-img img{
    width: 100%;
    display: flex;
}
.bloque-transparente-1{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bloque-transparente-1 h1{
    color: rgb(253, 253, 253);
}

/******FIN DEL BLOQUE TRANSPARENTE*/


@media  screen and (max-width:500px){

    .bloque-transparente-1 h1{
        font-size: 22px;
    }   
 
}

/********Bloque 2 de servicios **********************/
.titulo-bloque-2-1{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    margin-top: 30px;
    
    
}
.titulo-bloque-2-1 h1{
    color: #000;
    
}
.texto-footer h1{
    color: #eee;
}
.imagen-bloque-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.imagen-bloque-2-1{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.imagen-bloque-2-1-img{
    position: relative;
    width: 300px;
    
}
.imagen-bloque-2-1-img img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.servicios-bloque-2{
    width: 100%;
    display: flex;
    justify-content: center;
}j
.servicios-bloque-2-1{
    width: 500px;
    display: flex;
    justify-content: center;
    /*background-color: aqua;*/
}
.contendor-servicios{
    /*background-color: blueviolet;*/
}
.servicio-tipo{
    /*background-color: blue;*/
    width: 500px;
    display: flex;
    height: auto;
    
       
}
.linea-circulo-servicios{
    width: auto;
    display: flex;
    background-color: cornflowerblue;
    
}

.linea-servicios{
    width: 2px;
    height: auto;
    background-color:rgba(18, 57, 165, 1);

    
}
.servicio-icono{
    
    position: absolute;
    width: 50px;
    height: 50px;
    /*border-radius: 50%;
    background-color:rgba(18, 57, 165, 1);*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -22px;
}
.img-icono{
    width: 100%;
}
.servicio-icono p{
    font-size: 20px !important;
    color: rgb(248, 221, 147);
    margin-top: 10px;
}
.servicio-tipo-titulo-text{
    margin-left: 30px;
    z-index: 10;
}
.servicio-tipo-titulo{
    display: flex;
    align-items: center;
    height: 55px;
    
}
.servicio-tipo-titulo p{
    font-size: 25px !important;
    color: #000;
    
}
.servicio-text{
    /*background-color: cadetblue;*/
    
}
@media  screen and (max-width:1220px){

    .servicio-tipo{
        /*background-color: blue;*/
              
    } 
    .imagen-bloque-2-1-img{
        position: relative;
        width: 250px;
        margin-right: 0px;
        margin-top: -20px;      
    }
    .imagen-bloque-2-1-img img{
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }  
 
}
@media  screen and (max-width:550px){

    .servicio-icono{
        position: absolute;
        width: 42px;
        height: 42px;
        /*border-radius: 50%;
        background-color:rgba(18, 57, 165, 1);*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;
    }
    .servicio-tipo{
        /*background-color: blue;*/
        width: 90%;
        display: flex;
    
        
        margin-left: 25px;
           
    }
    .linea-circulo-servicios{
        width: auto;
        display: flex;
        /*background-color: cornflowerblue;*/
        
    }
    .servicio-tipo-titulo-text{
        margin-left: 24px;
    }
    .servicio-tipo-titulo p{
        font-size: 21px !important;
        color: #000;
        
    }
 
}
@media screen and (max-width:400px) {
    .imagen-bloque-2-1-img{
        width: 200px;
        
    }
}
@media  screen and (max-width:330px){

    .servicio-tipo-titulo p{
        font-size: 18px !important;
        color: #000;
        
    }
}
/********FIN DEL Bloque 2 de servicios **********************/
.carrosel-conte-princ{
    height: 120px;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.carrousel-contenedor{
    height: 100px;
    display: flex;
    align-items: center;
   
}
.item-carrousel{
    background-color: ;
}
.item-carrousel h1{
    font-size: 25px;
}



/****productos lanzados**/
.galeria-productos-lanzados{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.galeria-productos-lanzados-1{
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
.galeria-productos-lanzados-card{
    width: 120px;
    height: auto;
    margin: 15px;
}
.galeria-productos-lanzados-card-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.img-galeria{
    width: 120px;
    display:flex ;
    justify-content: center;
}
.img-galeria img{
    width: 100%;
    height: 100%;
}
.texto-galeria{
    width: 100%;
    display:flex ;
    justify-content: center;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 5px;
    border: 2px solid rgb(204, 201, 201);
    
}
.texto-galeria a{
    font-size: 15px !important ;
    color: #fff !important;
}
.galeria-productos-lanzados-1 img{
    width: 100%;
}


/**fin de productos lanzados***/


/*****FOOTER*************/
.contenedor-footer{
    width: 100%;
    height: auto;
    /*background-color: rgb(196, 196, 196);*/
    background-color: rgb(196, 196, 196);

    display: flex;
    flex-direction: column;
    
}
.contenedor-footer-1{
    display: flex;
    width: 100%;
    height: auto;
   /* background-color: aquamarine;*/
    justify-content: center;
    margin-top: 50px;
}
.contenedor-footer-1-1{
    width: 300px;
    
}
.contenedor-footer-1-2{
    width: 300px;
}

.iconos-red-socila-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.iconos-red-socila-footer a{
    color: rgb(61, 59, 59) ;
    font-size: 28px;
    margin: 6px;
}
.iconos-red-socila-footer a:hover{
    color: black;
    
}
.contactos{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.contactos-1{
    width: 100%;
    
}
.contactos-1-1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contactos-1-1 div{
    width: 100%;
    display: flex;
    justify-content: center
}
.contactos-1-titulo{
   
}
.contactos-1-texto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contactos-1-texto div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contactos  h1{
    font-size: 25px;
}
.contenedor-footer-2{
    display: flex;
    width: 100%;
    height: 35px;
    /*background-color: aqua;*/
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

}
.contenedor-footer-2 p{
    font-size: 20px !important;
    color: rgb(141, 140, 140);
    margin-top: 10px;
}
@media  screen and (max-width:500px){

    .contenedor-footer-1{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
    }
    .contenedor-footer-1-1{
        width: 100%;
        
    }
    .contenedor-footer-1-2{
        width: 100%;
        
    }
   
   
}

/* ESTILOS DE CARD DE LOS PROYECTOS LANAZADOS */
.card_app a{
    color: black;
}
.card_app{
    margin-bottom: 10px;
    background-color: rgb(156, 148, 148);
    
} 
.card_app:hover{
    box-shadow: 2px 2px 20px grey;
   
}

/***** FIN DEL FOOTER*************/
